p.schedule_time {
	margin-bottom: 0;
	padding-bottom: 0;
}
.schedule_speaker {
	font-style:italic;
}

.schedule_item h3,
.schedule_item p {
	margin: 0;
	padding: 0;
}

.schedule_item {
	margin-bottom: 1em;
	padding-bottom: 1em;
	border-bottom: 1px dashed #444;
}

p.schedule_summary {
	font-size: 90%;
	margin-top: 0.5em;
}

.schedule_time {float:left;}
.schedule_item {margin-left:60px;}

.schedule_item_presentation {background-color: #b0b7eb}
.schedule_item_shorttalk {background-color: #ccd2ff}
.schedule_item_meeting {background-color: #ffcccc}
.schedule_item_meeting a {color: #b84f44;}
.schedule_item_workshop {background-color: #ff9999}
.schedule_item_workshop a {color: #b84f44;}
.schedule_item_coding {background-color: #ebedf7}
.schedule_item_lightningtalk, .schedule_item_, .schedule_item_specialother {background-color: #0044aa;  color: white}
.schedule_item_lightningtalk a, .schedule_item_ a, .schedule_item_specialother a {color: #ccd2ff}
